{% load static %}
{% block body %}
{% include 'navigation.html' %}

<style>
    .container {
        max-width: 90%;
    }

    .content {
        text-align: left;
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: cyan;
        height: 30px;
        width: 91%;
    }

    .carousel-inner img {
        width: 100%;
        height: 550px;
        object-fit: cover;
    }

    .content {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
</style>


  <div class="logo-container">
    <img src="{{ logo_index }}" alt="Logo">
</div>



<div class="container" style="background-color:white;height:570px;color: LightSlateGray; margin-top:2%">
    <h1 class="text-center text-yellow">Our Top Companies</h1>
    <div class="row">
        <div class="col-md-3">
            <img src="{{ walmart_image_url }}" style="width:100%; margin-top:5%;height: 200px; border-radius:50%">
            <div class="content ">
                <p>Walmart</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="{{ tata_image_url }}" style="width:100%; margin-top:5%;height : 200px; border-radius:50%">
            <div class="content">
                <p>TATA</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="{{ slack_image_url }}" style="width:100%; margin-top:5%;height : 200px; border-radius:50%">
            <div class="content">
                <p>Slack</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="{{ nvidia_image_url }}" style="width:100%; margin-top:5%;height : 200px; border-radius:50%">
            <div class="content">
                <p>Nvidia</p>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}
